@use '../mixins';

@mixin nav-bar {
    nav {
        @include mixins.flex-row;
        align-items: stretch;
        justify-content: space-between;
        padding: 0em;
        padding-left: 1em;
        gap: 1em;
        z-index: 3;
        background-color: var(--color-nav);
        filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.75));

        /* position and size */
        width: 100%;
        height: var(--nav-mobile-wh);
        position: fixed;
        top: 0;

        #nav-left {
            @include mixins.flex-inherit;
            align-items: center;
            gap: 1em;
            #nav-left-icon {
                font-size: 0;
            }
            a {
                width: fit-content;
                text-decoration: none;
            }
            img {
                width: 28px;
                border-radius: 50%;
                border-style: none;
            }
            span {
                display: inline-flex;
                color: var(--color-nav-label);
                font-family: var(--nav-label-font-family);
                font-size: xx-large;
                line-height: 0;
                min-width: 135px; /* font-size and font-family dependent */
                transform: translateY(6px); /* how to use vertical-align? */
            }
        }
        #nav-right {
            @include mixins.flex-inherit;
            height: 100%;
            padding-right: 0.25em;
            #nav-right-inner {
                @include mixins.flex-col;
                @include mixins.align-center;
                justify-content: start;
                background-color: var(--color-nav-item);

                /* position and size */
                position: fixed;
                top: var(--nav-mobile-wh);
                left: 0;
                #nav-items {
                    width: 100%;
                    flex-grow: 1;
                    @include mixins.border-top-bottom(
                        var(--color-nav));
                }
                #nav-social {
                    @include mixins.flex-col;
                    @include mixins.align-center;
                }
                hr {
                    display: none;
                }
                .nav-social {
                    @include mixins.flex-row;
                    padding-top: 0.75em;
                    padding-bottom: 2em;
                    background-color: inherit;
                    button-social {
                        display: inherit;
                    }
                }
            }
            #nav-button-menu {
                display: flex;
            }
        }
    }
}

@mixin nav-item {
    nav-item {
        button {
            @include mixins.flex-row;
            @include mixins.align-center;
            height: auto;
            padding: 0.75em;
            font-family: var(--nav-font-family);
            @include mixins.border-top-bottom(
                var(--color-nav));
            @include mixins.set-color-bgcolor(
                var(--color-nav-link), var(--color-nav-item));
            a, a:link, a:visited {
                color: inherit;
                text-decoration: none;
                line-height: 1;
                font-weight: var(--nav-font-weight);
            }
        }
        button[aria-current=true] {
            border: 1px solid transparent;
            @include mixins.set-color-bgcolor(
                var(--color-nav-link-current), var(--color-nav-item-current));
            a, a:link, a:visited {
                color: inherit;
            }
        }
        button:hover {
            cursor: pointer;
            border: 1px solid transparent;
            @include mixins.set-color-bgcolor(
                var(--color-nav-link-hover), var(--color-nav-item-hover));
        }
        button:active {
            cursor: pointer;
            border: 1px solid transparent;
            @include mixins.set-color-bgcolor(
                var(--color-nav-link-active), var(--color-nav-item-active));
        }
    }
    nav-item > button > [data-icon=arrow] {
        position: absolute;
        right: 0.75em;
        @include mixins.invisible;
    }
    nav-item[data-toggle] > button > [data-icon=arrow] {
        @include mixins.visible;
        transform: rotate(90deg);
    }
    nav-item[data-toggle][data-expand] > button > [data-icon=arrow] {
        @include mixins.visible;
        transform: rotate(180deg);
    }
    button[aria-expanded=false] + .sub-items {
        @include mixins.invisible;
    }
    button[aria-expanded=true] + .sub-items {
        @include mixins.visible-block;
    }
    .sub-items {
        position: static;
        top: 0;
        button {
            @include mixins.border-top-bottom(
                var(--color-nav));
            @include mixins.set-color-bgcolor(
            var(--color-nav-sub-link), var(--color-nav-sub-item));
            a, a:link, a:visited {
                color: inherit;
            }
        }
        button[aria-current=true] {
            border: 1px solid transparent;
            @include mixins.set-color-bgcolor(
                var(--color-nav-sub-link-current), var(--color-nav-item-current));
            a, a:link, a:visited {
                color: inherit;
            }
        }
        button:hover {
            cursor: pointer;
            border: 1px solid transparent;
            @include mixins.set-color-bgcolor(
                var(--color-nav-link-hover), var(--color-nav-item-hover));
        }
        button:active {
            cursor: pointer;
            border: 1px solid transparent;
            @include mixins.set-color-bgcolor(
                var(--color-nav-link-active), var(--color-nav-item-active));
        }
    }
}