@use '../mixins';

gallery-bar {
    @include mixins.flex-row;
    @include mixins.align-center;
    box-sizing: border-box;
    gap: 1em;
    padding: 0.33em 1em;
    height: 64px;
    border-top: 1px solid var(--color-nav-sub-item);
    border-bottom: 1px solid var(--color-nav-sub-item);
    background-color: var(--color-nav-item);

    #gallery-label {
        font-weight: bold;
    }
    #gallery-tags {
        @include mixins.flex-inherit;
        gap: 0.66em;
        height: 100%;
        button {
            background-color: var(--color-nav-sub-item);
            border: none;
            border-radius: 25%;
            padding: 0.33em 0.66em;
        }
    }
}

@media only screen and (min-width: 768px) {
    gallery-bar {
        border: none;
    }
}