@use '../mixins';
@use 'navmixins';

/* MOBILE */
@media only screen and (max-width: 600px) {
    @include navmixins.nav-bar;
}

/* TABLET */
@media only screen and (min-width: 600px) and (max-width: 768px) {
    @include navmixins.nav-bar;
    nav {
        #nav-right {
            #nav-right-inner {
                @include mixins.flex-row;
                position: static;
                filter: none;
                #nav-items {
                    @include mixins.flex-inherit;
                    height: 100%;
                    flex-grow: 1;
                    border: none;
                }
                #nav-social {
                    hr, .nav-social {
                        display: none;
                    }
                }
            }
            #nav-button-menu {
                display: none;
            }
        }
    }
}

/* DESKTOP */
@media only screen and (min-width: 768px) {
    @include navmixins.nav-bar;
    nav {
        @include mixins.flex-col;
        padding: 0;
        padding-top: 1.5em;
        width: min(25%, var(--nav-desktop-width));
        height: 100%;
        background-color: var(--color-nav-light);
        filter: none;
        #nav-left {
            gap: 0.5em;
            img {
                width: 128px;
            }
            span {
                text-align: center;
                font-size: x-large;
                line-height: 1;
                min-width: 0;
                max-width: 64px;
                transform: translateY(3px);
            }
        }
        #nav-right {
            @include mixins.align-center;
            padding: 0;
            gap: 1em;
            #nav-right-inner {
                order: 2;
                flex-grow: 1;
                justify-content: space-between;
                position: static;
                filter: none;
                #nav-items {
                    flex-grow: 0;
                }
                #nav-social {
                    hr {
                        display: block;
                        margin-top: 2em;
                        border: 1px solid color-mix(in srgb, var(--color-nav-social), transparent 50%);
                        width: 60%;
                    }
                    
                    .nav-social {
                        button-social {
                            display: inherit;
                        }
                    }
                }
            }
            #button-theme {
                order: 1;
            }
            #nav-button-menu {
                display: none;
            }
        }
    }
}