@use '../mixins';

/* MOBILE */
nav {
    @include mixins.flex-row;
    align-items: stretch;
    justify-content: space-between;
    padding: 0;
    padding-left: 1em; /* top, right, bottom, left */
    gap: 1em;
    z-index: 1;
    background-color: var(--color-nav);

    /* Position and Size */
    width: 100%;
    height: var(--nav-wh);
    position: fixed;
    top: 0;
}

#nav-left {
    @include mixins.flex-inherit;
    align-items: center;
    gap: 1em;
    #nav-left-icon {
        font-size: 0;
    }
    a {
        width: fit-content;
        text-decoration: none;
    }
    img {
        width: 28px;
        border-radius: 50%;
        border-style: none;
     }
     span {
        display: inline-flex;
        color: var(--color-nav-label);
        font-family: var(--nav-label-font-family);
        font-size: xx-large;
        line-height: 0;
        min-width: 135px; /* font-size and font-family dependent */
        transform: translateY(6.4px); /* how to use vertical-align? */
     }
}

#nav-right {
    @include mixins.flex-inherit;
    height: 100%;
    gap: 0;
    #nav-items {
        @include mixins.flex-inherit;
        align-items: stretch;
    }
}

@media (min-width: 600px) {
}

/* DESKTOP */
@media (min-width: 768px) {
    nav {
        flex-direction: column;
        align-items: center;
        justify-content: start;
        padding: 1em 0 1em 0; /* top, right, bottom, left */

        /* Position and Size */
        width: min(25%, 240px);
        height: 100%;
        
    }
    #nav-left {
        gap: 0.5em;
        img {
            width: 140px;
        }
        span {
            text-align: center;
            font-size: x-large;
            line-height: 1;
            min-width: 0;
            max-width: 64px; /* font-size and font-family dependent */
            transform: translateY(3.2px); /* how to use vertical-align? */
        }
    }
    #nav-right {
        flex-direction: column-reverse;
        justify-content: flex-end;
        width: 100%;
        gap: 1em;
        #nav-items {
            flex-direction: column;
            width: 100%;
        }
        button-theme {
            align-items: center;
        }
    }
}