@use '../mixins';

/* MOBILE */
nav {
    @include mixins.flex-row;
    align-items: stretch;
    justify-content: space-between;
    padding: 0;
    padding-left: 1em; /* top, right, bottom, left */
    gap: 1em;
    z-index: 1;
    background-color: var(--color-nav);

    /* position and size */
    width: 100%;
    height: var(--nav-mobile-wh);
    position: fixed;
    top: 0;
}  
#nav-left {
    @include mixins.flex-inherit;
    align-items: center;
    gap: 1em;
    #nav-left-icon {
        font-size: 0;
    }
    a {
        width: fit-content;
        text-decoration: none;
    }
    img {
        width: 28px;
        border-radius: 50%;
        border-style: none;
     }
     span {
        display: inline-flex;
        color: var(--color-nav-label);
        font-family: var(--nav-label-font-family);
        font-size: xx-large;
        line-height: 0;
        min-width: 135px; /* font-size and font-family dependent */
        transform: translateY(6px); /* how to use vertical-align? */
     }
}
#nav-right {
    @include mixins.flex-inherit;
    height: 100%;
}
#nav-right-mobile {
    display: none;
}
#nav-button-menu {
    display: flex;
}
hr {
    display: block;
    border: 1px solid color-mix(in srgb, var(--color-nav-label), transparent 60%);
    width: 60%;
}

/* TABLET */
@media (min-width: 600px) { 
    #nav-right-mobile {
        @include mixins.flex-inherit;
        height: 100%;
        gap: 0;
        #nav-items {
            @include mixins.flex-inherit;
        }
    }
    #nav-button-menu {
        display: none;
    }
    hr {
        display: none;
    }
}

/* DESKTOP */
@media (min-width: 768px) {
    nav {
        flex-direction: column;
        align-items: center;
        justify-content: start;
        padding: 1.5em 0em 2em 0em; /* top, right, bottom, left */

        /* Position and Size */
        width: min(25%, var(--nav-desktop-width));
        height: 100%;
        overflow-y: auto; 
    }
    #nav-left {
        gap: 0.5em;
        img {
            width: 128px;
        }
        span {
            text-align: center;
            font-size: x-large;
            line-height: 1;
            min-width: 0;
            max-width: 64px; /* font-size and font-family dependent */
            transform: translateY(2px); /* how to use vertical-align? */
        }
    }
    #nav-right {
        width: 100%;
        align-items: center;
        gap: 1em;
    }
    #nav-right-mobile {
        width: 100%;
        align-items: center;
        order: 2;
        #nav-items {
            width: 100%;
            flex-grow: 1;
        }
    }
    hr {
        display: block;
        border: 1px solid color-mix(in srgb, var(--color-nav-label), transparent 60%);
        width: 60%;
    }
    #button-theme {
        order: 1;
    }
}