@use '../mixins';
@use 'navmixins';

/* MOBILE */
@media only screen and (max-width: 600px) {
    @include navmixins.nav-item;
}

/* TABLET */
@media only screen and (min-width: 600px) and (max-width: 768px) {
    @include navmixins.nav-item;
    nav-item {
        button {
            height: 100%;
            padding: 0.5em;
            @include mixins.border-left-right(
                var(--color-nav));
            @include mixins.set-color-bgcolor(
                var(--color-nav-link), var(--color-nav));
        }
    }
    nav-item[data-toggle] > button > [data-icon=arrow] {
        @include mixins.invisible;
    }
    nav-item[data-toggle][data-expand] > button > [data-icon=arrow] {
        @include mixins.invisible;
    }
    .sub-items {
        position: fixed;
        top: var(--nav-mobile-wh);
    }
}

/* DESKTOP */
@media only screen and (min-width: 768px) {
    @include navmixins.nav-item;
    #nav-items {
        nav-item {
            button {
                padding: 0.5em 0.75em;
            }
        }
        nav-item > button > [data-icon=arrow] {
            right: 0.5em;
        }
    }
}
