---
import GalleryLayout from '../../../layouts/GalleryLayout.astro';
import GalleryGrid from '../../../components/GalleryGrid.astro';
import GalleryBar from '../../../components/GalleryBar.astro';
import GalleryModal from '../../../components/GalleryModal.astro';

import { getLabel } from '../../../scripts/utils';
import { fetchImg } from '../../../scripts/fetchImg'
import { type GalleryImageProp, transformImageProps } from '../../../scripts/transformImg'

const clouddir = import.meta.env.PUBLIC_CLOUD_DIR;

let { pathname } = Astro.url;
const header = getLabel(pathname);

const subdir = "travel";
const tags = ['Japan', 'Taiwan'];

// Set img src to public URLs
let publicTransform = "t_Thumbnail_360";
let items : GalleryImageProp[] = []; let numItems = 0;
let publicIds = await fetchImg(clouddir + '/' + subdir);

console.log(clouddir + '/' + subdir);

if (publicIds) {
    items = transformImageProps(publicIds, publicTransform);
    numItems = items.length;
}
---

<GalleryLayout>
    <div slot="main">
        <GalleryBar header={header} tags={tags} />
        <GalleryGrid items={items} />
    </div>
    <div slot="modal">
        <GalleryModal max={numItems} />
    </div>
</GalleryLayout>
