@mixin flex-row {
    display: flex;
	flex-direction: row;
}

@mixin flex-col {
    display: flex;
	flex-direction: column;
}

@mixin flex-inherit {
    display: flex;
	flex-direction: inherit;
}

@mixin align-center {
    width: 100%;
    align-items: center;
}

@mixin visible-block {
    display: block;
    visibility: visible;
}

@mixin visible {
    display: inherit;
    visibility: visible;
}

@mixin invisible {
    display: none;
    visibility: hidden;
}

@mixin set-color-bgcolor($color: white, $bgcolor: black) {
    color: $color;
    background-color: $bgcolor;
}

@mixin border-top-bottom($color : white) {
    border-top: 1px solid color-mix(in srgb, $color, transparent 33%);
    border-bottom: 1px solid color-mix(in srgb, $color, transparent 33%);
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
}

@mixin border-left-right($color : white) {
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    border-left: 1px solid color-mix(in srgb, $color, transparent 33%);
    border-right: 1px solid color-mix(in srgb, $color, transparent 33%);
}

@mixin gallery-grid-repeat($num : 1, $gap : 0.25em) {
    display: grid;
    grid-template-columns: repeat($num, 1fr);
    grid-gap: $gap;
    padding: $gap;
}

/* Credits to Lea Verou's CSS3 Patterns Gallery at https://projects.verou.me/css3patterns/ */
@mixin background-pattern($color : silver, $bgcolor: white) {
    background-color: $color;
    background-image:
        radial-gradient(circle at 100% 150%, $color 24%, $bgcolor 24%, $bgcolor 28%, $color 28%, $color 36%, $bgcolor 36%, $bgcolor 40%, transparent 40%, transparent),
        radial-gradient(circle at 0    150%, $color 24%, $bgcolor 24%, $bgcolor 28%, $color 28%, $color 36%, $bgcolor 36%, $bgcolor 40%, transparent 40%, transparent),
        radial-gradient(circle at 50%  100%, $bgcolor 10%, $color 10%, $color 23%, $bgcolor 23%, $bgcolor 30%, $color 30%, $color 43%, $bgcolor 43%, $bgcolor 50%, $color 50%, $color 63%, $bgcolor 63%, $bgcolor 71%, transparent 71%, transparent),
        radial-gradient(circle at 100% 50%, $bgcolor 5%, $color 5%, $color 15%, $bgcolor 15%, $bgcolor 20%, $color 20%, $color 29%, $bgcolor 29%, $bgcolor 34%, $color 34%, $color 44%, $bgcolor 44%, $bgcolor 49%, transparent 49%, transparent),
        radial-gradient(circle at 0    50%, $bgcolor 5%, $color 5%, $color 15%, $bgcolor 15%, $bgcolor 20%, $color 20%, $color 29%, $bgcolor 29%, $bgcolor 34%, $color 34%, $color 44%, $bgcolor 44%, $bgcolor 49%, transparent 49%, transparent);
    background-size: 100px 50px;
}
