:root {
	--black: rgb(15, 18, 20);
	--black-warm: rgb(20, 18, 15);
	--white: rgb(255, 250, 245);
	--white-warm: rgb(245, 240, 235);
	--grey-cool: rgb(65, 70, 75);
	--grey-cool-light: rgb(210, 215, 220);
	--grey-cool-dark: rgb(40, 45, 50);
	--grey-warm: rgb(175, 170, 165);
	--grey-warm-light: rgb(210, 205, 200);
	--grey-warm-dark: rgb(50, 45, 40);
	--header-box-shadow: 0 2px 8px rgba(15, 18, 25, 25%);

	--blue: rgb(0, 60, 255);
	--purple: rgb(180, 0, 255);
	--purple-dark: rgb(66, 0, 100);

	/* body, header, footer */
	--color-primary: var(--white-warm);
	--color-secondary: var(--black-warm);
	--color-nav: var(--grey-warm-light);
	--color-nav-item: var(--grey-warm);
	--color-nav-item-hover: var(--white-warm);
	--color-nav-link: var(--black-warm);
	--color-footer: var(--grey-warm);

	/* links */
	--anchor-link: var(--blue);
	--anchor-active: var(--purple);
	--button-active: white;

    /* fonts */
	font-family: 'Rodin', 'Roboto', Verdana, sans-serif;
	font-weight: 500;
	font-size: medium;
	line-height: 1.5;
	caret-color: transparent;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}

.theme-dark {

	/* body, header, footer */
	--color-primary: var(--grey-cool-dark);
	--color-secondary: var(--white);
	--color-nav: var(--grey-cool);
	--color-nav-item: var(--grey-cool-dark);
	--color-nav-item-hover: green;
	--color-nav-link: greenyellow;
	--color-footer: var(--purple-dark);

	/* links */
	--anchor-link: cyan;
	--anchor-active: magenta;
	--button-active: magenta;
}
body {
	padding: 0;
	margin: 0;
	background-color: var(--color-primary);
	color: var(--color-secondary);
	height: 100%;
}
main {
	margin: 1em;
}
nav {
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}
h1, h2, h3, h4, h4, h5, h6 {
	font-family: 'Rodin', 'Roboto', Verdana, sans-serif;
	font-weight: 700;
}
a:link {
	color: var(--anchor-link);
}
a:visited {
	color: var(--anchor-link);
}
a:active {
	color: var(--anchor-active);
}
a:hover {
	color: var(--anchor-active);
}
.sr-only {
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	/* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
	clip: rect(1px 1px 1px 1px);
	/* maybe deprecated but we need to support legacy browsers */
	clip: rect(1px, 1px, 1px, 1px);
	/* modern browsers, clip-path works inwards from each corner */
	clip-path: inset(50%);
	/* added line to stop words getting smushed together (as they go onto separate lines and some screen readers do not understand line feeds as a space */
	white-space: nowrap;
}

@font-face {
	font-family: 'Roboto';
	src: url('/fonts/Roboto/Roboto-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Roboto';
	src: url('/fonts/Roboto/Roboto-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Roboto';
	src: url('/fonts/Roboto/Roboto-Bold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Rodin';
	src: url('/fonts/Rodin-Pro-M.otf');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Rodin';
	src: url('/fonts/Rodin-Pro-L.otf');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Emulogic';
	src: url('/fonts/Emulogic/Emulogic.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}
