:root {
	--black: rgb(15, 18, 25);
	--gray: rgb(65, 70, 75);
	--gray-light: rgb(210, 215, 220);
	--gray-dark: rgb(40, 45, 50);
	--header-box-shadow: 0 2px 8px rgba(15, 18, 25, 25%);

	--blue: rgb(0, 60, 255);
	--purple: rgb(180, 0, 255);
	--dark-purple: rgb(100, 0, 150);

	/* body, header, footer */
	--color-primary: white;
	--color-secondary: var(--black);
	--color-nav: white;
	--color-nav-link: var(--black);
	--color-footer: var(--gray-light);

	/* links */
	--anchor-link: var(--blue);
	--anchor-active: var(--purple);
	--button-active: white;
}
.theme-dark {

	/* body, header, footer */
	--color-primary: var(--gray-dark);
	--color-secondary: lime;
	--color-nav: var(--gray); 
	--color-nav-link: greenyellow;
	--color-footer: var(--dark-purple);

	/* links */
	--anchor-link: cyan;
	--anchor-active: magenta;
	--button-active: magenta;
}
body {
	padding: 0;
	margin: 0;
	background-color: var(--color-primary);
	color: var(--color-secondary);
	min-height: 100vh;
}
main {
	margin: 1em;
}
nav {
	padding: 0.5em;
}
a:link {
	color: var(--anchor-link);
}
a:visited {
	color: var(--anchor-link);
}
a:active {
	color: var(--anchor-active);
}
a:hover {
	color: var(--anchor-active);
}

button {
	font-family: inherit;
	font-feature-settings: inherit;
	font-variation-settings: inherit;
	font-size: 100%;
	font-weight: inherit;
	line-height: inherit;
	letter-spacing: inherit;
	color: inherit;
	cursor: pointer;
	margin: 0;
	padding: 0;
	border: none;
	border-radius: 16px;
}
.sr-only {
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	/* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
	clip: rect(1px 1px 1px 1px);
	/* maybe deprecated but we need to support legacy browsers */
	clip: rect(1px, 1px, 1px, 1px);
	/* modern browsers, clip-path works inwards from each corner */
	clip-path: inset(50%);
	/* added line to stop words getting smushed together (as they go onto separate lines and some screen readers do not understand line feeds as a space */
	white-space: nowrap;
}