
@use 'fonts';
@use 'mixins';

:root {
	--black: rgb(15, 18, 20);
	--black-warm: rgb(20, 18, 15);
	--white: rgb(245, 250, 255);
	--white-warm: rgb(235, 230, 225);
    --white-cool: rgb(225, 230, 235);
    --grey-cool-6: rgb(40, 45, 60);
	--grey-cool-5: rgb(35, 40, 55);
    --grey-cool-4: rgb(30, 35, 50);
	--grey-cool-3: rgb(25, 30, 45);
    --grey-cool-2: rgb(20, 25, 40);
    --grey-cool-1: rgb(15, 20, 35);
	--grey-cool-0: rgb(5, 10, 25);
    --grey-warm: rgb(175, 170, 165);
	--grey-warm-light: rgb(210, 205, 200);
    --grey-warm-mdlight: rgb(150, 145, 140);
    --grey-warm-mddark: rgb(80, 75, 70);
	--grey-warm-dark: rgb(50, 45, 40);
	--header-box-shadow: 0 2px 8px rgba(15, 18, 25, 25%);
    
    --sand: rgb(255, 245, 240);
    --sand-light: rgb(245, 230, 225);
    --sand-mdrose: rgb(235, 215, 210);
    --sand-rose: rgb(225, 200, 195);
    --sand-dark: rgb(215, 185, 180);
    --redviolet: rgb(162, 37, 74);
    --redviolet-light: rgb(225, 56, 120);
    --redviolet-mdlight: rgb(140, 24, 84);
    --redviolet-mddark: rgb(100, 15, 55);
    --redviolet-dark: rgb(72, 8, 30);
    --violet: rgb(82, 8, 56);
    --violet-mddark: rgb(66, 8, 44);
    --violet-dark: rgb(42, 3, 27);
    --coffee: rgb(30, 12, 12);
    --palegold: rgb(124, 124, 60);
    --palegold-light: rgb(180, 180, 108);
    --palegold-mdlight: rgb(132, 132, 72);
    --palegold-mddark: rgb(72, 72, 32);
    --palegold-dark: rgb(37, 37, 12);
    --orange: rgb(255, 187, 0);
    --orange-light: rgb(255, 227, 70);
    --orange-dark: rgb(210, 140, 0);
    --redorange: rgb(250, 115, 0);
    --duskgold: rgb(148, 111, 54);
    --duskgold-light: rgb(255, 220, 172);
    --duskgold-mdlight: rgb(210, 164, 100);
    --duskgold-dark: rgb(108, 72, 27);

	/* body, header, footer */
	--color-primary: var(--violet-mddark);
	--color-secondary: var(--white-warm);
    --color-tertiary: var(--violet);
    --color-gallery: var(--sand);
    --color-header: var(--sand);
	--color-footer: var(--violet-dark);
    --color-footer-gallery: var(--color-gallery);
    --color-selection: var(--black-warm);
    --bgcolor-selection: yellow;

	/* navbar */
	--nav-button-width: 40px;
	--nav-mobile-wh: 45px;
	--nav-desktop-width: 240px;
    --nav-padding-right: 0.5em;
	--color-nav: var(--redviolet-mdlight);
    --color-nav-label: var(--white-warm);
    --color-nav-light: var(--redviolet-mdlight);
	--color-nav-right: var(--redviolet-mddark);
	--color-nav-item: var(--redviolet-mddark);
	--color-nav-item-hover: var(--duskgold-mdlight);
	--color-nav-item-active: var(--duskgold-mdlight);
	--color-nav-item-current: var(--duskgold);
	--color-nav-link: var(--white-warm);
	--color-nav-link-hover: var(--palegold-dark);
	--color-nav-link-active: var(--white-warm);
	--color-nav-link-current: var(--palegold-dark);
	--color-nav-sub-item: var(--redviolet-dark);
	--color-nav-sub-link: var(--duskgold-light);
	--color-nav-social: var(--duskgold);
	--color-nav-social-hover: var(--duskgold-mdlight);
    --color-nav-theme: var(--duskgold-mdlight);
    --color-nav-theme-hover: var(--white-warm);
    --color-divider: var(--redviolet-mdlight);

    /* aside */
    --aside-width: 270px;
    --color-aside: var(--orange);
    
    /* blog */
    --color-blog-item: var(--coffee);
    --color-date: var(--color-secondary);
    --bgcolor-date: var(--redviolet-mddark);
    --bgcolor-description: var(--black-warm);

    /* gallery */
    --gallery-bar-height: 64px;
    --modal-height: 720px;
    --modal-width: 960px;
    --modal-arrow-width: 80px;
    --color-modal: lavender;
    --color-modal-button: var(--grey-warm-dark);
	--color-modal-button-hover: white;
    --color-modal-button-active: var(--duskgold-dark);
    --color-gallery-tag: var(--sand-mdrose);
    --color-gallery-tag-hover: var(--duskgold-mdlight);
    --color-gallery-tag-current: var(--orange-dark);
    --color-gallery-tag-border: white;

	/* headings */
    --color-heading: white;

    /* header */
    --header-height: 150px;

	/* links */
	--anchor-link: var(--orange);
	--anchor-active: var(--orange-light);

	/* main */
	--main-min-width: 720px;
	--main-max-width: 960px;
    --main-padding-mobile: 1rem;
    --main-padding-desktop: 3rem;

    /* fonts */
	--font-family: 'Oxygen', 'Roboto', Verdana, sans-serif;
	--font-size: 15px;
	--nav-font-family: var(--font-family);
	--nav-font-weight: bold;
	--nav-label-font-family: 'Bebas';

	font-family: var(--font-family);
	font-weight: normal;
	font-size: var(--font-size);

	/* misc */
	line-height: 1.5;
	caret-color: transparent;
    /* scrollbar-width: none; */    /* Hide to help with media query width calculations */
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}

.theme-dark {

	/* body, header, footer */
	--color-primary: var(--grey-cool-4);
	--color-secondary: var(--white-cool);
    --color-tertiary: var(--grey-cool-3);
    --color-gallery: var(--grey-cool-0);
    --color-header: var(--white);
	--color-footer: var(--grey-cool-2); // todo - rename grey-cool to l5 l4 l3 d2 d1 d0
    --color-footer-gallery: var(--grey-cool-0);
    --color-selection: var(--black);
    --bgcolor-selection: magenta;

	/* navbar */
	--color-nav: var(--grey-cool-6);
    --color-nav-label: magenta;
    --color-nav-light: var(--grey-cool-3);
	--color-nav-right: var(--grey-cool-0);
	--color-nav-item: var(--grey-cool-1);
	--color-nav-item-hover: darkmagenta;
	--color-nav-item-active: darkmagenta;
	--color-nav-item-current: darkviolet;
	--color-nav-link: turquoise;
	--color-nav-link-hover: magenta;
	--color-nav-link-active: lightcyan;
	--color-nav-link-current: lightcyan;
	--color-nav-sub-item: var(--grey-cool-0);
	--color-nav-sub-link: chartreuse;
	--color-nav-social: magenta;
	--color-nav-social-hover: lightcyan;
    --color-modal: magenta;
	--color-modal-button-hover: lightcyan;
    --color-nav-theme: magenta;
    --color-nav-theme-hover: lightcyan;
    --color-divider: var(--grey-cool-4);

    /* aside */
    --color-aside: magenta;

    /* blog */
    --color-blog-item: var(--grey-cool-1);
    --color-date: var(--color-secondary);
    --bgcolor-date: var(--grey-cool-6);
    --bgcolor-description: var(--white-cool);
    --color-code: #ff00aa;

    /* table */
    --color-thead: var(--grey-cool-1);
    --color-tbody: var(--grey-cool-3);

    /* gallery */
    --color-modal: magenta;
    --color-modal-button: var(--grey-cool-3);
	--color-modal-button-hover: lightcyan;
    --color-modal-button-active: magenta;
    --color-gallery-tag: var(--grey-cool-4);
    --color-gallery-tag-hover: darkmagenta;
    --color-gallery-tag-current: darkviolet;
    --color-gallery-tag-border: white;

	/* headings */
    --color-heading: white;

	/* links */
	--anchor-link: cyan;
	--anchor-active: magenta;
}

.visible {
    width: 100%;
    height: 100%;
    opacity: 1;
    transition: opacity 0.25s ease;
}

.hidden {
    width: 0;
    height: 0;
    opacity: 0;
    transition: opacity 0.25s ease, width 0s linear 0.25s, height 0s linear 0.25s;
}

body {
	padding: 0;
	margin: 0;
	background-color: var(--color-primary);
	color: var(--color-secondary);
	height: 100%;
    min-height: 100%;
	
}
nav, main, header, footer {
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}
h1, h2, h3, h4, h4, h5, h6 {
	font-family: 'Oxygen', 'Roboto', Verdana, sans-serif;
	font-weight: 700;
    margin: 0;
}
h1, h2, h3 {
    color: var(--color-heading);
}
a:link, a:visited {
	color: var(--anchor-link);
}
a:hover, a:active {
	color: var(--anchor-active);
}
button {
	font: inherit;
	cursor: pointer;
	margin: 0;
	padding: 0;
	border: none;
	color: inherit;
	background-color: inherit;
}
hr {
    width: 100%;
    line-height: 1;
    border: 1px solid color-mix(in srgb, var(--color-secondary), transparent 66%);
}
pre {
    padding: 0.5em;
    background-color: var(--grey-cool-1) !important; // override shiki theme
}
code {
    font-size: 13px;
}
p code, li code {
    color: #D5CED9; // shiki andromeeda theme for code blocks
    background: var(--grey-cool-1);
    padding: 0.2em;
}
a code {
    color: inherit;
}
mark, ::selection {
    font-weight: bold;
    color: var(--color-selection);
    background-color: var(--bgcolor-selection);
}
.caption {
    font-size: x-small;
    font-style: italic;
    margin-block-start: 0em;
    margin-block-end: 0em;
}
.sr-only {
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	/* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
	clip: rect(1px 1px 1px 1px);
	/* maybe deprecated but we need to support legacy browsers */
	clip: rect(1px, 1px, 1px, 1px);
	/* modern browsers, clip-path works inwards from each corner */
	clip-path: inset(50%);
	/* added line to stop words getting smushed together (as they go onto separate lines and some screen readers do not understand line feeds as a space */
	white-space: nowrap;
}