
@use 'fonts';
@use 'mixins';

:root {
	--black: rgb(15, 18, 20);
	--black-warm: rgb(20, 18, 15);
	--white: rgb(255, 250, 245);
	--white-warm: rgb(245, 240, 235);
	--grey-cool: rgb(40, 45, 60);
	--grey-cool-light: rgb(32, 37, 52);
	--grey-cool-mddark: rgb(25, 30, 45);
	--grey-cool-dark: rgb(10, 15, 30);
	--grey-warm: rgb(175, 170, 165);
	--grey-warm-light: rgb(210, 205, 200);
	--grey-warm-mddark: rgb(155, 150, 145);
	--grey-warm-dark: rgb(50, 45, 40);
	--header-box-shadow: 0 2px 8px rgba(15, 18, 25, 25%);
    
    --turquoise: rgb(64, 230, 220);
    --turquoise-light: rgb(0, 180, 205);
    --turquoise-mdlight: rgb(0, 130, 170);
    --turquoise-mddark: rgb(0, 90, 155);
    --turquoise-dark: rgb(0, 50, 80);
    --sand: rgb(255, 245, 240);
    --sand-light: rgb(245, 230, 225);
    --sand-mdrose: rgb(235, 215, 210);
    --sand-rose: rgb(225, 200, 195);
    --sand-dark: rgb(215, 185, 180);
    --redwood: rgb(255, 84, 120);
    --redwood-light: rgb(240, 48, 84);
    --redwood-dark: rgb(100, 20, 36);
    --coffee: rgb(48, 22, 22);
    --violet-dark: rgb(50, 20, 80);

	/* body, header, footer */
	--color-primary: var(--sand);
	--color-secondary: var(--coffee);
    --color-gallery: var(--sand);
    --color-header: var(--sand);
	--color-footer: lavender;

	/* navbar */
	--nav-button-width: 40px;
	--nav-mobile-wh: 45px;
	--nav-desktop-width: 250px;
    --nav-padding-right: 0.5em;
	--color-nav: var(--sand-mdrose);
    --color-nav-light: var(--sand-light);
	--color-nav-right: var(--sand-mdrose);
	--color-nav-item: var(--sand-mdrose);
	--color-nav-item-hover: var(--redwood-light);
	--color-nav-item-active: var(--redwood-light);
	--color-nav-item-current: var(--redwood);
	--color-nav-link: var(--redwood-dark);
	--color-nav-link-hover: var(--redwood-dark);
	--color-nav-link-active: var(--sand-light);
	--color-nav-link-current: var(--sand-light);
	--color-nav-sub-item: var(--sand-dark);
	--color-nav-sub-link: var(--coffee);
	--color-nav-social: maroon;
	--color-nav-social-hover: crimson;
    --color-divider: var(--sand-light);

    /* gallery */
    --gallery-bar-height: 64px;
    --modal-height: 720px;
    --modal-width: 960px;
    --modal-arrow-width: 80px;
    --color-modal: lavender;
    --color-modal-button: var(--grey-warm-dark);
	--color-modal-button-hover: white;
    --color-modal-button-active: var(--redwood-dark);
    --color-gallery-tag: var(--sand-mdrose);
    --color-gallery-tag-hover: var(--redwood-light);
    --color-gallery-tag-current: var(--redwood);
    --color-gallery-tag-border: white;

	/* headings */
	--color-nav-label: maroon;
    --color-heading: maroon;

    /* header */
    --header-height: 150px;

	/* links */
	--anchor-link: maroon;
	--anchor-active: crimson;

	/* main */
	--main-min-width: 720px;
	--main-max-width: 1280px;

    /* fonts */
	--font-family: 'Oxygen', 'Roboto', Verdana, sans-serif;
	--font-size: 15px;
	--nav-font-family: var(--font-family);
	--nav-font-weight: bold;
	--nav-label-font-family: 'Bebas';

	font-family: var(--font-family);
	font-weight: normal;
	font-size: --font-size;

	/* misc */
	line-height: 1.5;
	caret-color: transparent;
    overflow: overlay;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}

.theme-dark {

	/* body, header, footer */
	--color-primary: var(--grey-cool);
	--color-secondary: var(--white);
    --color-gallery: var(--grey-cool-dark);
    --color-header: var(--white);
	--color-footer: var(--violet-dark);

	/* navbar */
	--color-nav: var(--grey-cool-mddark);
    --color-nav-light: var(--grey-cool-light);
	--color-nav-right: var(--grey-cool-mddark);
	--color-nav-item: var(--grey-cool-mddark);
	--color-nav-item-hover: darkmagenta;
	--color-nav-item-active: darkmagenta;
	--color-nav-item-current: darkviolet;
	--color-nav-link: turquoise;
	--color-nav-link-hover: magenta;
	--color-nav-link-active: lightcyan;
	--color-nav-link-current: lightcyan;
	--color-nav-sub-item: var(--grey-cool-dark);
	--color-nav-sub-link: chartreuse;
	--color-nav-social: magenta;
	--color-nav-social-hover: lightcyan;
    --color-modal: magenta;
	--color-modal-button-hover: lightcyan;
    --color-divider: var(--grey-cool);

    /* gallery */
    --color-modal: magenta;
    --color-modal-button: var(--grey-cool-mddark);
	--color-modal-button-hover: lightcyan;
    --color-modal-button-active: magenta;
    --color-gallery-tag: var(--grey-cool);
    --color-gallery-tag-hover: darkmagenta;
    --color-gallery-tag-current: darkviolet;
    --color-gallery-tag-border: white;

	/* headings */
	--color-nav-label: magenta;
    --color-heading: magenta;

	/* links */
	--anchor-link: cyan;
	--anchor-active: magenta;
}

.visible {
    width: 100%;
    height: 100%;
    opacity: 1;
    transition: opacity 0.25s ease;
}

.hidden {
    width: 0;
    height: 0;
    opacity: 0;
    transition: opacity 0.25s ease, width 0s linear 0.25s, height 0s linear 0.25s;
}

body {
	padding: 0;
	margin: 0;
	background-color: var(--color-primary);
	color: var(--color-secondary);
	height: 100%;
	
}
nav, main, header, footer {
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}
h1, h2, h3, h4, h4, h5, h6 {
	font-family: 'Oxygen', 'Roboto', Verdana, sans-serif;
	font-weight: 700;
    margin: 0;
}

h1, h2 {
    color: var(--color-heading);
}
a:link, a:visited {
	color: var(--anchor-link);
}
a:hover, a:active {
	color: var(--anchor-active);
}
button {
	font: inherit;
	cursor: pointer;
	margin: 0;
	padding: 0;
	border: none;
	color: inherit;
	background-color: inherit;
}

.nav-social {
    filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.33));
}

.sr-only {
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	/* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
	clip: rect(1px 1px 1px 1px);
	/* maybe deprecated but we need to support legacy browsers */
	clip: rect(1px, 1px, 1px, 1px);
	/* modern browsers, clip-path works inwards from each corner */
	clip-path: inset(50%);
	/* added line to stop words getting smushed together (as they go onto separate lines and some screen readers do not understand line feeds as a space */
	white-space: nowrap;
}