
@use 'fonts';
@use 'mixins';

:root {
	--black: rgb(15, 18, 20);
	--black-warm: rgb(20, 18, 15);
	--white: rgb(255, 250, 245);
	--white-warm: rgb(245, 240, 235);
	--grey-cool: rgb(65, 70, 75);
	--grey-cool-light: rgb(210, 215, 220);
	--grey-cool-mddark: rgb(25, 30, 35);
	--grey-cool-dark: rgb(40, 45, 50);
	--grey-warm: rgb(175, 170, 165);
	--grey-warm-light: rgb(210, 205, 200);
	--grey-warm-mddark: rgb(155, 150, 145);
	--grey-warm-dark: rgb(50, 45, 40);
	--header-box-shadow: 0 2px 8px rgba(15, 18, 25, 25%);

	--blue: rgb(0, 60, 255);
	--violet: rgb(180, 0, 255);
	--violet-dark: rgb(66, 0, 100);
	--violet-red: rgb(100, 0, 72);
	--goldenrod: rgb(164, 160, 114);
	--goldenrod-dark: rgb(92, 90, 60);

	/* body, header, footer */
	--color-primary: var(--white-warm);
	--color-secondary: var(--black-warm);
	--color-footer: var(--grey-warm);

	/* navbar */
	--nav-wh: 40px;
	--color-nav: var(--grey-warm-light);
	--color-nav-rgba: rgba(210, 215, 220, .5);
	--color-nav-item: var(--grey-warm);
	--color-nav-item-hover: var(--white-warm);
	--color-nav-item-active: var(--white-warm);
	--color-nav-item-current: var(--goldenrod);
	--color-nav-link: var(--color-secondary);
	--color-nav-link-hover: maroon;
	--color-nav-link-active: crimson;
	--color-nav-link-current: var(--color-secondary);
	--color-nav-sub-item: var(--grey-warm-mddark);
	--color-nav-sub-link: maroon;
	--color-nav-sub-link-current: maroon;

	/* navlabel */
	--color-nav-label: var(--goldenrod-dark);
	--nav-label-font-family: 'Bebas';
	--nav-label-font-size: xx-large;

	/* links */
	--anchor-link: var(--blue);
	--anchor-active: var(--violet);

    /* fonts */
	font-family: 'Rodin', 'Roboto', Verdana, sans-serif;
	font-weight: 500;
	font-size: medium;
	line-height: 1.5;
	caret-color: transparent;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}

.theme-dark {

	/* body, header, footer */
	--color-primary: var(--grey-cool-dark);
	--color-secondary: var(--white);
	--color-footer: var(--violet-dark);

	/* navbar */
	--color-nav: var(--grey-cool);
	--color-nav-rgba: rgba(65, 70, 75, .5);
	--color-nav-item: var(--grey-cool-dark);
	--color-nav-item-hover: darkmagenta;
	--color-nav-item-active: darkmagenta;
	--color-nav-item-current: darkviolet;
	--color-nav-link: turquoise;
	--color-nav-link-hover: magenta;
	--color-nav-link-active: lightcyan;
	--color-nav-link-current: lightcyan;
	--color-nav-sub-item: var(--grey-cool-mddark);
	--color-nav-sub-link: chartreuse;
	--color-nav-sub-link-current: lightcyan;

	/* navlabel */
	--color-nav-label: magenta;

	/* links */
	--anchor-link: cyan;
	--anchor-active: magenta;
}

body {
	padding: 0;
	margin: 0;
	background-color: var(--color-primary);
	color: var(--color-secondary);
	height: 100%;
	
}
main {
	margin: 1em;
}
nav {
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}
h1, h2, h3, h4, h4, h5, h6 {
	font-family: 'Rodin', 'Roboto', Verdana, sans-serif;
	font-weight: 500;
}
a:link, a:visited {
	color: var(--anchor-link);
}
a:hover, a:active {
	color: var(--anchor-active);
}
button {
	color: inherit;
	font: inherit;
	cursor: pointer;
	margin: 0;
	padding: 0;
	border: none;
	outline: inherit;
}
.sr-only {
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	/* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
	clip: rect(1px 1px 1px 1px);
	/* maybe deprecated but we need to support legacy browsers */
	clip: rect(1px, 1px, 1px, 1px);
	/* modern browsers, clip-path works inwards from each corner */
	clip-path: inset(50%);
	/* added line to stop words getting smushed together (as they go onto separate lines and some screen readers do not understand line feeds as a space */
	white-space: nowrap;
}