---
import BaseHead from '../components/BaseHead.astro';
import { SITE_TITLE, SITE_DESCRIPTION} from '../consts';

import '../styles/404.scss'
---
<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body class="theme-dark">
        <div>
            <h1>404 <span>Not Found.</span></h1>
            <p>There doesn't seem to be anything here ...</p>
        </div>
	</body>
</html>