---
import Layout from '../layouts/PageLayout.astro';

const yesArr = Array(100).fill('Check that the vertical scroll bar appears');
---

<Layout>
	{yesArr.map((yes : String) => (
		<p>{yes}</p>
	))}
</Layout>
