---
import { Icon } from 'astro-icon/components'

interface Props {
    href: string;
    name: string;
}

let {href, name}  = Astro.props;
---

<button-social>
    <span class="sr-only">{name + " Button"}</span>
    <button>
        <a href={href}>
            <Icon name={name} />
        </a>
    </button>
</button-social>

<style>

    /* MOBILE */
    button {
        display: none;
        width: 24px;
        height: 24px;
        padding: 0.25em;
        transition: color .25s ease;
        color: var(--color-nav-social);
        background-color: transparent;
    }
    button:hover {
        color: var(--color-nav-social-hover);
    }
    svg {
        width: 100%;
        height: 100%;
    }
    a {
        color: inherit;
    }

     /* DESKTOP */
	@media (min-width: 768px) {
        button {
            display: inherit;
        }
    }
</style>

<script>
    class ButtonSocial extends HTMLElement {
        constructor() {
            super();
        }
    }
    // Tell the browser to use our ButtonSocial class for <button-social> elements.
    customElements.define('button-social', ButtonSocial);
</script>

