---
const today = new Date();
---

<footer>
	&copy; {today.getFullYear()} Built by <a href="https://github.com/withastro/astro" target="_blank">tlouchao</a> 🚀 Astro and Lit 🔥 All Rights Reserved.
</footer>
<style>
	footer {
		padding: 2em 1em 6em 1em;
		background-color: var(--color-footer);
		text-align: center;
	}
</style>
