---
import ButtonSocial from './ButtonSocial.astro';

const today = new Date();
---

<footer>
	<div id="built-by">
		&copy; {today.getFullYear()} Built by <a href="https://github.com/tlouchao" target="_blank">tlouchao</a> | All Rights Reserved.
	</div>
	<div class="nav-social">
		<ButtonSocial href="/" name="linkedin" />
		<ButtonSocial href="https://github.com/tlouchao" name="github" />
		<ButtonSocial href="/" name="rss" />
	</div>
</footer>

<style>
	footer {
		display: flex;
		flex-direction: column;
		text-align: center;
		gap: 0.33em;
		width: 100%;
		padding: 2em 1em 2em 1em;
		background-color: var(--color-footer);
		#built-by {
			font-size: small;
		}
		.nav-social {
			display: inherit;
			flex-direction: row;
			justify-content: center;
			button-social {
				display: inherit;
			}
		}
	}
</style>
