---
import "../styles/components/gallerybar.scss";

interface Props {
    header: string;
}

const { header } = Astro.props;
const tags = ['Quick', 'Brown', 'Fox']

---
<gallery-bar>
    <p id="gallery-label">{header}</p>
    <div id="gallery-tags">
        {tags.map(t => <button>{t}</button>)}
    </div>
</gallery-bar>