---
import { GalleryItem } from './lit/GalleryItem.ts'
import { type GalleryImageProp } from '../scripts/transformImg'
import '../styles/components/gallerygrid.scss'

interface Props {
    items: GalleryImageProp[];
}

const { items } = Astro.props;
---

<gallery-grid>
    <div id="gallery-grid">
        {items.map((x, idx) => (
            // @ts-ignore
            <GalleryItem client:visible src={x.src} label={x.label} index={idx} />
            )
        )}
    </div>
</gallery-grid>