---
import { GalleryItem } from './lit/GalleryItem.ts'
import { type GalleryItemProps } from '../interface.ts'
import '../styles/components/gallerygrid.scss'

interface Props {
    items: GalleryItemProps[];
}

const { items } = Astro.props;
---

<gallery-grid>
    <div id="gallery-grid">
        {items.map((x, idx) => (
            // @ts-ignore
            <GalleryItem client:visible src={x.src} label={x.label} tags={x.tags} index={idx} />
            )
        )}
    </div>
</gallery-grid>