---
import { GalleryItem } from './GalleryItem.ts';
import GalleryModal from './GalleryModal.astro';
import '../styles/components/gallerygrid.scss'

import { v2 as cloudinary } from 'cloudinary';

// Return "https" URLs by setting secure: true
cloudinary.config({
  secure: true
});

const arr = Array(9).fill('/husky.jpg');
---

<gallery-grid>
    <div id="gallery-grid">
        {arr.map((x, idx) => (
            // @ts-ignore
            <GalleryItem client:visible src={x} label={x + idx} />
            )
        )}
        <GalleryModal />
    </div>
</gallery-grid>