---
import GalleryTag from "./GalleryTag.astro"
import "../styles/components/gallerybar.scss";

interface Props {
    header: string;
    tags?: string[];
}

const { header, tags = [] } = Astro.props;
---

<gallery-bar>
    <div id="gallery-tags">
        {tags.map(t => <GalleryTag tag={t} />)}
    </div>
</gallery-bar>