---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
---

<header>
	<nav>
		<h2><a href="/">{SITE_TITLE}</a></h2>
		<div class="nav-right">
			<HeaderLink href="/">Home</HeaderLink>
			<HeaderLink href="/blog">Blog</HeaderLink>
			<HeaderLink href="/about">About</HeaderLink>
			<button>
				<span class="sr-only">Toggle Theme</span>
				<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true"
					><path
						d="M12 3a6 6 0 0 0 9 9 9 9 0 1 1-9-9Z"
					></path>
				</svg>
			</button>
		</div>
	</nav>
</header>
<style>
	header {
		margin: 0;
		padding: 0 1em;
		background: white;
		box-shadow: 0 2px 8px rgba(var(--black), 5%);
	}
	h2 {
		margin: 0;
		font-size: 1em;
	}

	h2 a,
	h2 a.active {
		text-decoration: none;
	}
	.nav-right {
		display: flex;
		flex-direction: row;
		justify-content: center;
	}
	nav {
		display: flex;
		flex-direction: row;
		text-align: center;
		align-items: center;
		justify-content: space-between;
	}
	nav a {
		padding: 1em 0.5em;
		color: var(--black);
		border-bottom: 4px solid transparent;
		text-decoration: none;
	}
	nav a.active {
		text-decoration: none;
		border-bottom-color: var(--accent);
	}
	button {
		padding: 0em 1em;
		cursor: pointer;
		background-color: transparent;
		background-image: none;
		transition: 0.2s ease;

	}
	button:hover {
		background-color: rgb(var(--gray-light));
		transition: 0.2s ease;
	}
	@media (max-width: 720px) {
	}
</style>
