---
import NavItem from './NavItem.astro';
import ButtonTheme from './ButtonTheme.astro';
---
<aside>
	<nav>
		<div id="nav-left">
			<a id="nav-link-icon" href="/">
				<img src="/secretary-bird-sq.jpg" aria-label="Navbar Icon" />
			</a>
			<a id="nav-link-label" href="/">
				<span>Tiffany Chao</span>
			</a>
		</div>
		<div id="nav-right">
			<NavItem href="/" label="Home"></NavItem>
			<NavItem href="/blog"></NavItem>
			<NavItem href="/gallery" isToggle></NavItem>
			<ButtonTheme label="Moon"></ButtonTheme>
		</div>
	</nav>
</aside>

<style>
	
	/* MOBILE */
	nav {
		display: flex;
		flex-direction: row;
		align-items: stretch;
		justify-content: space-between;
		padding: 0 0 0 1em; /* top, right, bottom, left */
		gap: 1em;
		z-index: 1;
		background-color: var(--color-nav);

		/* Position and Size */
		width: 100%;
		height: fit-content;
		position: fixed;
		top: 0;
	}
	#nav-left {
		display: inherit;
		flex-direction: inherit;
		align-items: center;
		gap: 1em;
		#nav-link-icon {
			font-size: 0;
		}
		a {
			width: fit-content;
			text-decoration: none;
		}
		img {
			width: 32px;
			border-radius: 50%;
			border-style: none;
		 }
		 span {
			display:inline-block;
			visibility: visible;
			min-width: 192px;
			font-family: 'Emulogic';
			color: var(--color-nav-link);
		 }
	}
	#nav-right {
		display: inherit;
		flex-direction: inherit;
		align-items: center;
	}

	@media (min-width: 600px) {
		#nav-right { /* todo: hamburger expand and collapse */
		}
	}

	/* DESKTOP */
	@media (min-width: 768px) {
		nav {
			flex-direction: column;
			align-items: center;
			justify-content: start;
			padding: 1em 0 1em 0; /* top, right, bottom, left */

			/* Position and Size */
			width: min(20%, 240px);
			height: 100%;
			
		}
		#nav-left {
			gap: 0em;
			img {
				width: 128px;
			}
			span {
				visibility: hidden;
			}
		}
		#nav-right {
			width: 100%;
		}
	}
</style>