---
import NavItem from './NavItem.astro';
import ButtonTheme from './ButtonTheme.astro';
import "../styles/components/navbar.scss";
---
<aside>
	<nav>
		<div id="nav-left">
			<a id="nav-left-icon" href="/">
				<img src="/secretary-bird-sq.jpg" aria-label="Navbar Icon" />
			</a>
			<a id="nav-left-label" href="/">
				<span>Tiffany Chao</span>
			</a>
		</div>
		<div id="nav-right">
			<div id="nav-items">
				<NavItem href="/"></NavItem>
				<NavItem href="/projects"></NavItem>
				<NavItem href="/blog"></NavItem>
				<NavItem href="/gallery" isToggle></NavItem>
			</div>
			<ButtonTheme />
		</div>
	</nav>
</aside>