---
import NavItem from './NavItem.astro';
import ButtonTheme from './ButtonTheme.astro';
---
<aside>
	<nav transition:persist>
		<div id="nav-left">
			<a id="nav-left-icon" href="/">
				<img src="/secretary-bird-sq.jpg" aria-label="Navbar Icon" />
			</a>
			<a id="nav-left-label" href="/">
				<span>Tiffany Chao</span>
			</a>
		</div>
		<div id="nav-right">
			<div id="nav-items">
				<NavItem href="/"></NavItem>
				<NavItem href="/projects"></NavItem>
				<NavItem href="/blog"></NavItem>
				<NavItem href="/gallery" isToggle></NavItem>
			</div>
			<ButtonTheme />
		</div>
	</nav>
</aside>

<style>
	
	/* MOBILE */
	nav {
		display: flex;
		flex-direction: row;
		align-items: stretch;
		justify-content: space-between;
		padding: 0 0 0 1em; /* top, right, bottom, left */
		gap: 1em;
		z-index: 1;
		background-color: var(--color-nav);

		/* Position and Size */
		width: 100%;
		height: var(--nav-wh);
		position: fixed;
		top: 0;
	}
	#nav-left {
		display: inherit;
		flex-direction: inherit;
		align-items: center;
		gap: 1em;
		#nav-left-icon {
			font-size: 0;
		}
		a {
			width: fit-content;
			text-decoration: none;
		}
		img {
			width: 28px;
			border-radius: 50%;
			border-style: none;
		 }
		 span {
			display: inline-flex;
			color: var(--color-nav-label);
			font-family: var(--nav-label-font-family);
			font-size: xx-large;
			line-height: 0;
			min-width: 135px; /* font-size and font-family dependent */
			transform: translateY(6.4px); /* how to use vertical-align? */
		 }
	}
	#nav-right {
		display: inherit;
		flex-direction: inherit;
		height: 100%;
		#nav-items {
			display: inherit;
			flex-direction: inherit;
			align-items: stretch;
		}
		#button-theme {
			display: inherit;
			flex-direction: inherit;
			align-items: center;
		}
	}

	@media (min-width: 600px) {
		#nav-right { /* todo: hamburger expand and collapse */
		}
	}

	/* DESKTOP */
	@media (min-width: 768px) {
		nav {
			flex-direction: column;
			align-items: center;
			justify-content: start;
			padding: 1em 0 1em 0; /* top, right, bottom, left */

			/* Position and Size */
			width: min(25%, 240px);
			height: 100%;
			
		}
		#nav-left {
			gap: 0.5em;
			img {
				width: 140px;
			}
			span {
				text-align: center;
				font-size: x-large;
				line-height: 1;
				min-width: 0;
				max-width: 64px; /* font-size and font-family dependent */
				transform: translateY(3.2px); /* how to use vertical-align? */
			}
		}
		#nav-right {
			width: 100%;
			#nav-items {
				width: 100%;
			}
		}
	}
</style>