---
import NavItem from './NavItem.astro';
import ButtonSocial from './ButtonSocial.astro';
import ButtonTheme from './ButtonTheme.astro';
import "../styles/components/navbar.scss";
---
<aside>
	<nav>
		<div id="nav-left">
			<a id="nav-left-icon" href="/">
				<img src="/secretary-bird-sq.jpg" aria-label="Navbar Icon" />
			</a>
			<a id="nav-left-label" href="/">
				<span>Tiffany Chao</span>
			</a>
		</div>
		<div id="nav-right">
			<div id="nav-items">
				<NavItem href="/"></NavItem>
				<NavItem href="/projects"></NavItem>
				<NavItem href="/blog"></NavItem>
				<NavItem href="/gallery" isToggle></NavItem>
			</div>
			<ButtonTheme />
			<div id="nav-social">
				<ButtonSocial href="/" name="linkedin" />
				<ButtonSocial href="/" name="github" />
				<ButtonSocial href="/" name="rss" />
			</div>
		</div>
	</nav>
</aside>

<script>

	//TODO: Auto collapse sub items if on mobile device
	//TODO: On click event outside of sub items, collapse the sub items

	const enableAutoCollapseSubItems = () => {
		let mql = window.matchMedia("(min-width: 768px)");
		if (mql.matches) { // desktop, do nothing
			// console.log("desktop: " + Boolean(mql.matches).toString());
		}
	}

	window.addEventListener('load', enableAutoCollapseSubItems)
	window.addEventListener('resize',  enableAutoCollapseSubItems)

</script>