---
import type { HTMLAttributes } from 'astro/types';

type Props = HTMLAttributes<'a'>;

const { href } = Astro.props;

const { pathname } = Astro.url;
const subpath = pathname.match(/[^\/]+/g);
const isActive = href === pathname || href === '/' + subpath?.[0];
---

<div class="nav-item">
	<a href={href} class:list={[{ active: isActive }]}>
		<slot />
	</a>
</div>

<style>
	.nav-item {
		padding: 0.75em;
		min-width: 180px;
		max-width: 270px;
		text-align: center;
	}

	a {
		text-decoration: none;
	}
	a.active {
		font-weight: bolder;
		text-decoration: underline;
	}
</style>