---
import GalleryThumb from './GalleryThumb.astro';
import '../styles/components/photogrid.scss'

const arr = Array(16).fill('/husky.jpg');
---

<div id="photo-grid">
    {arr.map(x => (
        <GalleryThumb src={x} label="Husky" />
        )
    )}
</div>