---
import path from 'path';

import {type HeadingProps} from '../interface';
import '../styles/components/tableofcontents.scss'

interface Props {
    url : string;
    headings: HeadingProps[];
}

const { url, headings } = Astro.props;

let headingsFiltered = headings.filter(heading => heading.depth <= 3);
let headingsUrl : string[] = [];

const depths = headingsFiltered.map(heading => heading.depth)
const minDepth = depths.reduce((minAcc, curr) => {
    let ret = (curr < minAcc) ? curr : minAcc; 
    return ret; 
}, Infinity);

headingsFiltered = headingsFiltered.map(heading => {
    heading.text = '    '.repeat(heading.depth - minDepth) + heading.text; 
    return heading; 
});

let slugFound = false;
if (url) headingsFiltered?.map((heading : {slug: string}) => {
    if (heading.slug) if (!slugFound) slugFound = true;
    if (heading.slug) headingsUrl.push(path.join(url, '#' + heading.slug)); else headingsUrl.push("#");
});

---
<aside>
    <div id="aside-content">
        <ul>
            {
                headingsFiltered.map((heading, idx) => 
                        <a href={headingsUrl[idx]}>
                            <li>{heading.text}</li>
                        </a>
                )
            }
        </ul>
    </div>
</aside>