---
import Layout from './PageLayout.astro';
import '../styles/layouts/blogpost.scss'

// Blog Posts
import type { CollectionEntry } from 'astro:content';

type Props = CollectionEntry<'blog'>['data'];

const { title, description, pubDate, updatedDate, heroImage, heroImageCaption } = Astro.props;
// TODO: caption
---

<Layout>
	<article>
		<div class="hero-image">
			{heroImage && <img src={heroImage} alt="" />}
            <div class="hero-image-caption">
                <p>{heroImageCaption}</p>
            </div> 
		</div>
		<div class="prose">
			<div class="title-layout">
				<h1 class="title">{title}</h1>
                <div class="date">
					<time datetime={pubDate.toISOString()}>
                        {
                            pubDate.toLocaleDateString('en-us', {
                                month: 'long',
                                day: 'numeric',
                                year: 'numeric',
                            })
                        }
                    </time>
				</div>
				<hr />
			</div>
			<slot />
		</div>
	</article>
</Layout>
