---
import BaseHead from '../components/BaseHead.astro';
import NavBar from '../components/NavBar.astro';
import HeaderImage from '../components/HeaderImage.astro';
import Footer from '../components/Footer.astro';

import { ViewTransitions } from "astro:transitions";
import { SITE_TITLE, SITE_DESCRIPTION} from '../consts';
---

<!doctype html>
<html lang="en"> <!--transition:animate="none">-->
	<head>
        <ViewTransitions />
		<BaseHead title={SITE_TITLE} 
                  description={SITE_DESCRIPTION}  
                  transition:persist/>
	</head>
	<body class="theme-dark">
        <NavBar />
        <div id="nav-layout">
            <div id="header-layout">
                <HeaderImage src='/blog-placeholder-1.jpg' />
                <div id="main-layout">
                    <main>
                        <slot />
                    </main>
                </div>
                <Footer />
            </div>
        </div>
    </body>
</html>

<style>
    /* MOBILE */
    #nav-layout {
        padding-left: 0;
        padding-right: 0;
    }
    #header-layout {
        margin-top: var(--nav-mobile-wh);
        width: 100%;
        min-height: 100vh;
    }
    /* DESKTOP */
	@media (min-width: 768px) {
        #nav-layout {
            padding-left: min(25%, var(--nav-desktop-width)); /* Navbar offset */
        }
        #header-layout {
            margin-top: 0;
        }
        #main-layout {
            display: grid;
            grid-template-columns: min(100%, var(--main-width)) auto;
        }
    }
    
</style>
