---
import BaseHead from '../components/BaseHead.astro';
import NavBar from '../components/NavBar.astro';
import HeaderImage from '../components/HeaderImage.astro';
import Footer from '../components/Footer.astro';

import { ViewTransitions } from "astro:transitions";
import { SITE_TITLE, SITE_DESCRIPTION} from '../consts';
---

<!doctype html>
<html lang="en"> <!--transition:animate="none">-->
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} image='./husky.jpg' />
		<ViewTransitions />
	</head>
	<body class="theme-dark">
        <NavBar />
        <div id="nav-layout">
            <div id="page-layout">
                <HeaderImage src='/blog-placeholder-1.jpg' />
                <main>
                    <slot />
                </main>
                <Footer />
            </div>
        </div>
    </body>
</html>

<style>
    /* MOBILE */
    #nav-layout {
        padding-left: 0;
    }
    #page-layout {
        display: grid;
        grid-template-rows: auto 1fr auto;
        width: 100%;
        min-height: 100vh;
    }
    /* DESKTOP */
	@media (min-width: 768px) {
        #nav-layout {
            padding-left: min(25%, 240px); /* Navbar offset */
        }
    }
    
</style>
