---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
---
<div id="page-layout">
    <Header />
    <main>
        <slot />
    </main>
    <Footer />
</div>

<style>
    #page-layout {
        width: 100%;
        min-height: 100vh;
        display: grid;
        grid-template-rows: auto 1fr auto;
    }
</style>
