---
import BaseHead from '../components/BaseHead.astro';
import NavBar from '../components/NavBar.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import TableOfContents from '../components/TableOfContents.astro';

import '../styles/layouts/pagelayout.scss'

import { ViewTransitions } from "astro:transitions";
import { SITE_TITLE, SITE_DESCRIPTION} from '../consts';
import {type FrontmatterProps} from '../interface';

import '@fontsource/oxygen';
import '@fontsource/roboto';

const {title, url, frontmatter, headings} = Astro.props as FrontmatterProps;

---

<!doctype html>
<html lang="en"> <!--transition:animate="none">-->
	<head>
        <ViewTransitions />
		<BaseHead title={SITE_TITLE}
                  description={SITE_DESCRIPTION}  
                  transition:persist
        />
	</head>
	<body class="theme-dark">
        <NavBar />
        <div id="header-layout">
            <Header header={title ? title : frontmatter?.title}/>
            <div id="main-layout">
                <div id="main-layout-content">
                    <main>
                        <slot />
                    </main>
                    <TableOfContents url={url ? url : ""}, headings={headings ? headings : []} />
                </div>
            </div>
            <Footer />
        </div>
    </body>
</html>